@using Application.DTO
@model UserDto

<h1>Details</h1>

<div>
    <div class="modal-body">
        <h4>User</h4>
        @{
            await Html.RenderPartialAsync("_Detail", Model);
        }
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Cancel</button>
</div>
