@{
    //Layout = null;
    ViewData["Title"] = "Home Page";
}

<div id="UserData"></div>
<div id="IncidentData"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            drawPatrialView("/Incident/Index", "IncidentData");
            drawPatrialView("/User/Index", "UserData");

        });

    </script>
}

